

body{
    margin:8px auto;
    text-align: center;
    background-color: rgb(25,25,25);
}
h1{
    margin:0 auto 16px;
    width: fit-content;
    border-color: gray;
    border-width:8px;
    border-style: solid;
    background-color: lightgray;
}
a{
    border-color: gray;
    border-width: 4px;
    border-style: solid;
    background-color: lightgray;
}