.button {
  border-radius: 50%;
  background-color: orange;
  font-weight: bold;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: xx-large;
  transition-duration: 0.25s;
}
.button:hover {
  transform: scale(0.75, 0.75) rotateZ(360deg);
}
