body {
  background-color: palegoldenrod;
}

.Menu {
  display: grid;
  grid-template-areas:
    'photo photo photo name name'
    'photo photo photo dat0 dat0'
    'photo photo photo dat1 dat1'
    'dat2 dat2 dat2 dat2 dat2'
    'dat3 dat3 dat3 dat3 dat3';
  /*  gap: 16px 16px;*/
}
div {
  border-style: solid;
  border-width: 4px;
  border-color: black;
  padding: 8px 8px 8px 8px;
}
.photo {
  grid-area: photo;
  align-items: stretch;
  justify-content: stretch;
}
.name {
  grid-area: name;
}
.dat0 {
  grid-area: dat0;
}
.dat1 {
  grid-area: dat1;
}
.dat2 {
  grid-area: dat2;
}
.dat3 {
  grid-area: dat3;
}
